<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stone1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stone2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,180}</string>
                <key>spriteSourceSize</key>
                <string>{200,180}</string>
                <key>textureRect</key>
                <string>{{130,0},{200,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stone3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{330,0},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stone4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,150}</string>
                <key>spriteSourceSize</key>
                <string>{200,150}</string>
                <key>textureRect</key>
                <string>{{0,180},{200,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stone5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,150}</string>
                <key>spriteSourceSize</key>
                <string>{200,150}</string>
                <key>textureRect</key>
                <string>{{200,180},{200,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stone6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,360}</string>
                <key>spriteSourceSize</key>
                <string>{360,360}</string>
                <key>textureRect</key>
                <string>{{0,330},{360,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stones_sheet.png</string>
            <key>size</key>
            <string>{480,690}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e1fd136b1a757d5b6c08fdbf7ccb012:3b7384e7a663b944252bf5d70f4fcdc7:4861cd1159f0c243729135028dd159a3$</string>
            <key>textureFileName</key>
            <string>stones_sheet.png</string>
        </dict>
    </dict>
</plist>
